{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top header-skin-transparent" id="mainNav">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span style="color: white;"><i class="fa fa-bars"></i></span>
    </button>
    <a class="st-logo2" href="#" title="徐州防雷设施检测有限公司重庆分公司">
      <img class="logo-standart" src="http://cdn.ufanglei.com/img/logo-transparent.png" alt="徐州防雷设施检测有限公司重庆分公司">
    </a>             
    <div class="col-md-12">
      <div class="header-container">
        <div class="header-logo navbar-brand js-scroll-trigger" href="#page-top">
          <a class="st-logo1" href="#" title="徐州防雷设施检测有限公司重庆分公司">
            <img class="logo-standart" src="http://cdn.ufanglei.com/img/logo-transparent.png" alt="徐州防雷设施检测有限公司重庆分公司">&nbsp;&nbsp;徐州防雷设施检测有限公司重庆分公司
          </a>            
        </div>
        <div class="header-right">         
          <div class="header-top">
            <div class="header-left-info">
              <ul class="list-inline">
                <li>
                  <span class="header-label"><i class="fa fa-phone"></i></span>
                  <span class="header-hightlight"><small>联系电话</small><strong>(023) 8636-0883</strong></span>
                </li>
                <li>
                  <span class="header-label"><i class="fa  fa-clock-o"></i></span>
                  <span class="header-hightlight"><small>工作时间</small><strong>Mon - Fri: 9:00 - 18:00</strong></span>
                </li>                
              </ul>
            </div>
            <div class="header-right-info">
              <a class="header-button" href="/contact/">立即联系</a>
            </div>
          </div>                     
          <div class="header-bottom collapse navbar-collapse" id="navbarResponsive">            
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#page-top">首页</a>
              </li>                         
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#introduce">资质荣誉</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#cases">成功案例</a>
              </li>                                                              
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#news">新闻动态</a>
              </li>                                                
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#footer">关于我们</a>
              </li>
            </ul>               
          </div>            
        </div>                          
      </div>
  </div>
</nav> 
<div class="slideshow">
  <div class="slides">
    <div class="slide slide--current">
      <div class="slide__img" style="background-image: url(http://cdn.ufanglei.com/img/bg/bg_slider_1.jpg)"></div>
      <h2 class="slide__title">专业防雷防静电检测</h2>
      <p class="slide__desc">PROFESSIONAL LIGHTNING PROTECTION AND ANTISTATIC TESTING</p>
    </div>
    <div class="slide">
      <div class="slide__img" style="background-image: url(http://cdn.ufanglei.com/img/bg/bg_slider_2.jpg)"></div>
      <h2 class="slide__title">技术领先 服务一流</h2>
      <p class="slide__desc">LEADING TECHNOLOGY AND FIRST-CLASS SERVICE EXPERIENCE</p>
    </div>
    <div class="slide">
      <div class="slide__img" style="background-image: url(http://cdn.ufanglei.com/img/bg/bg_slider_3.jpg)"></div>
      <h2 class="slide__title">创新科技 永不止步</h2>
      <p class="slide__desc">OUR INNOVATION OF SCIENCE AND TECHNOLOGY WILL NEVER STOP</p>
    </div>
  </div>
  <nav class="slidenav">
  </nav>
</div>
<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 s1">
        <div class="service-box mt-1 mx-auto">
          <h5 class="mb-3 text-white">优秀的产品质量</h5>
          <p class="mb-0 text-white">研发到产品制造、有研发团队和专业的技术团队作后盾</p>
          <a class="js-scroll-trigger" href="#introduce">
              <div class="sim-button button6">
                <span>更多</span>
              </div>
          </a>            
        </div>
      </div>
      <div class="col-lg-4 col-md-12 s2">
        <div class="service-box mt-1 mx-auto">
          <h5 class="mb-3 text-white">丰富的交付经验</h5>
          <p class="mb-0 text-white">知名企业合作伙伴、成功的业务积累、高效的人力资源供应体系</p>
          <a class="js-scroll-trigger" href="#cases">
              <div class="sim-button button6">
                <span>更多</span>
              </div>
          </a>                   
        </div>
      </div>
      <div class="col-lg-4 col-md-12 s3">
        <div class="service-box mt-1 mx-auto">
          <h5 class="mb-3 text-white">优质的售后服务</h5>
          <p class="mb-0 text-white">热线专家随时在您身边为您提供保障</p>
          <p class="mb-0 text-white padding-top-20">
            <i class="fa fa-volume-control-phone fa-3x" aria-hidden="true"></i>
            <i class="fa fa-internet-explorer fa-3x" aria-hidden="true"></i>
            <i class="fa fa-qq fa-3x" aria-hidden="true"></i>
            <i class="fa fa-wechat fa-3x" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="introduce">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 wow fadeInLeft" data-wow-delay="0.2">
        <div class="st-heading text-left">
          <h3 class="box-title">行业领跑者</h3>
          <div class="box-content">徐州防雷设施检测有限公司是经江苏省气象局审核批准的雷电防护装置检测单位，主要从事防雷装置、防静电装置、电磁辐射、电磁脉冲的检测，技术咨询及相关服务，是最早一家成立并取得防雷检测资质的民营企业。</div>
        </div>
        <div class="wpb_content_element ">
          <div class="wpb_wrapper">
            <p>公司在雷电防护领域拥有了丰富的雷电灾害防护技术经验，始终用最先进、最专业的雷电灾害防护技术开展雷电防护业务，始终坚持"科学、公正、高效、准确、热情为用户提供服务"的质量方针，严格按照客户的要求和规范的方法进行检测，为客户提供良好的专业技术服务。</p>
          </div>
        </div>
        <div class="wpb_single_image wpb_content_element vc_align_left">
          <figure class="wpb_wrapper vc_figure">
            <div class="vc_single_image-wrapper vc_box_border_grey"><img width="375" height="73" src="http://cdn.ufanglei.com/img/sign.jpg" class="vc_single_image-img attachment-full" alt="sign"></div>
          </figure>
        </div>         
      </div>
      <div class="col-lg-6 col-md-12 wow fadeInRight" data-wow-delay="0.2">
        <div class="wpb_single_image wpb_content_element vc_align_left">
          <figure class="wpb_wrapper vc_figure">
            <div class="vc_single_image-wrapper">
            <img width="620" height="420" src="http://cdn.ufanglei.com/img/demo_00.jpg" class="vc_single_image-img attachment-full" alt="资质认定证书"></div>
          </figure>
        </div>        
      </div>
    </div>
  </div>      
</section>
<section id="info">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.2s">
        <div class="st-iconbox icon-left">
          <div class="iconbox-container">
            <div class="box-icon">
              <span><i class="fa fa-envira" aria-hidden="true"></i></span>
            </div>
            <div class="box-content text-left">
              <h5 class="box-title">精湛的制造工艺</h5>
              <p>拥有专用的生产流水线,齐全的检验检测设备,优质的产品质量确保每批产品完全符合客户要求.</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.3s">
        <div class="st-iconbox icon-left">
          <div class="iconbox-container">
            <div class="box-icon">
              <span><i class="fa fa-mortar-board" aria-hidden="true"></i></span>
            </div>
            <div class="box-content text-left">
              <h5 class="box-title">专业的服务团队</h5>
              <p>公司拥有一支高素质的技术队伍和销售队伍，多年来贯彻"优质、快速、周到"的理念服务于广大用户，得到客户的一致认可.</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.4s">
        <div class="st-iconbox icon-left">
          <div class="iconbox-container">
            <div class="box-icon">
              <span><i class="fa fa-send" aria-hidden="true"></i></span>
            </div>
            <div class="box-content text-left">
              <h5 class="box-title">优秀的企业文化</h5>
              <p>公司一贯坚持"质量和安全并抓，诚实守信，互惠互利"的经营宗旨，向着更高的目标稳步前进</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>                    
    </div>
  </div>      
</section> 
<section id="cases" style="background-color: #fafafa">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-heading">我们的案例</h3>
        <hr class="my-4">
        <h6 style="padding: 15px 0;">秉承"合作共赢、耕耘收获"的经营理念，以与合作伙伴实现双赢为宗旨，积极贯彻合作、开放、共赢的策略</h6>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {{> "site-nav"}}                                    
    </div>
  </div>
</section>
<section class="bg-dark text-white" style="padding: 2rem 0;">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-3 col-md-12 padding15">
          <div class="st-counter style-icon icon-left">
            <div class="box-icon">
              <span><i class="fa fa-rocket" aria-hidden="true"></i></span>
            </div>
            <div class="box-inner text-white text-left">
              <div class="counter-number" data-to="128" data-speed="4">128</div>
              <h4 class="box-plane">个项目成功交付</h4>
            </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-12 padding15">
          <div class="st-counter style-icon icon-left">
            <div class="box-icon">
              <span><i class="fa fa-bookmark" aria-hidden="true"></i></span>
            </div>
            <div class="box-inner text-white text-left">
              <div class="counter-number" data-to="58" data-speed="1">58</div>
              <h4 class="box-title">名技术工程师团队</h4>
            </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-12 padding15">
          <div class="st-counter style-icon icon-left">
            <div class="box-icon">
              <span><i class="fa fa-share-alt" aria-hidden="true"></i></span>
            </div>
            <div class="box-inner text-white text-left">
              <div class="counter-number" data-to="655" data-speed="5">625</div>
              <h4 class="box-title">名客户共同选择</h4>
            </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-12 padding15">
          <div class="st-counter style-icon icon-left">
            <div class="box-icon">
              <span><i class="fa fa-heart" aria-hidden="true"></i></span>
            </div>
            <div class="box-inner text-white text-left">
              <div class="counter-number" data-to="1298" data-speed="11">1298</div>
              <h4 class="box-title">个售后好评</h4>
            </div>
          </div>
      </div>                                        
    </div>    
  </div>
</section>
<section id="contact" class="vc_custom">
  <div class="container-fluid">
    <div class="row">
      <div class="vc_column_container vc_col-sm-6">
      </div>
      <div class="vc_column_container vc_col-sm-6 bg-color">
          <div class="st-heading text-left">
            <h3 class="box-title">客户评价</h3>
            <div class="box-content">用心服务一直是我们的服务宗旨</div>
          </div>
          <div class="vc_empty_space" style="height: 20px">
            <span class="vc_empty_space_inner"></span>
          </div>
          <div class="st-testimonial">
            <div class="row testimonialfit">
              <div class="col-md-12 wow fadeIn" data-wow-delay="0.2s">
                <div class="testimonial-container">
                  <div class="testimonial-content">通过层层选拔，到最后竞标中胜出，徐州防雷设施检测有限公司重庆分公司为我们提供了优质的服务，每一步接触下来，每一个细节都让我感受到这家公司的战斗很强，执行力很强，责任心很强，通过近一年的合作，我代表集团向他们表示感谢，我们非常满意，各项指标都比原来预期要好，谢谢你们，期待我们有更深入的合作!
                  </div>
                  <div class="testimonial-meta">
                    <div class="testimonial-photo">
                      <img style="max-width:100%;height:auto;" width="150" height="150" src="http://cdn.ufanglei.com/img/p1.jpg" sizes="(max-width: 150px) 100vw, 150px">
                    </div>
                    <h4>吴倩</h4>
                    <span class="testimonial-position">运营副总经理</span>
                  </div>
                </div>
              </div>
              <div class="col-md-12 wow fadeIn" data-wow-delay="0.3s">
                <div class="testimonial-container">
                  <div class="testimonial-content">防雷防静电检测服务商我们公司也接触过不少，徐州防雷设施检测有限公司重庆分公司无疑是这其中最出色的。团队的专业性和执行的高效，让我们感觉沟通起来很顺畅，服务落实执行起来也非常及时，遇到问题都能及时提出并建议。未来，我们和贵公司的合作还会持续下去，同时也会在更多业务层面加强合作。
                  </div>
                  <div class="testimonial-meta">
                    <div class="testimonial-photo">
                      <img style="max-width:100%;height:auto;" width="150" height="150" src="http://cdn.ufanglei.com/img/p2.jpg" sizes="(max-width: 150px) 100vw, 150px">
                    </div>
                    <h4>张有为</h4>
                    <span class="testimonial-position">项目总监</span>
                  </div>
                </div>
              </div>                  
            </div>
          </div>
    </div>
  </div>
</section>
<section id="news">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-heading">最新动态</h3>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row portfolio-list">
        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
        {{> "post-card"}}                
    </div>
  </div>
</section>
{{!-- <section id="awards" style="background-color: #fafafa">
  <div class="container">
    <div class="row">
    </div>
  </div>  
</section>  --}}
{{#contentFor "scripts"}}
    <!-- Plugin JavaScript -->
    <script src="https://cdn.bootcss.com/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdn.bootcss.com/scrollReveal.js/4.0.0-beta.24/scrollreveal.min.js"></script>

    <script src="https://cdn.bootcss.com/jquery.isotope/3.0.5/isotope.pkgd.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="http://cdn.ufanglei.com/js/creative.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>
    <script src="http://cdn.ufanglei.com/js/anime.min.js"></script>
    <script src="http://cdn.ufanglei.com/js/demo3.js"></script>
    <script>
      $('.testimonialfit').isotope({
        // options
        itemSelector: '.col-md-12',
        layoutMode: 'fitRows'
      });
      $('.portfolio-list').isotope({
        // options
        itemSelector: '.portfolio-item',
        layoutMode: 'fitRows'
      });
      //To solve hover on mobile  
      $(".grid-item").on("touchstart", touchStart);  
      $(".grid-item").on("touchend", touchEnd);  
      $(".grid-item").on("mouseover", touchStart);  
      $(".grid-item").on("mouseout", touchEnd);  
        
      function touchStart(event) {  
        $(this).children("div.portfolio-content").addClass("touch-content");  
      }  
      function touchEnd(event) {  
        $(this).children("div.portfolio-content").removeClass("touch-content");  
      }               
    </script>
    <script type="text/javascript">
        new WOW().init();
    </script>
{{/contentFor}}
