{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<section class="pageheader"> 
  <div class="container">
    <div class="row"> 
      <div class="col-md-12">
        <div class="title-holder">
          <div class="title-holder-cell text-left">
            <h1 class="page-title"><span>联系我们</span></h1>
            <ol class="breadcrumb">
              <li><a href="/">首页</a></li>
              <i class="fa fa-chevron-right" aria-hidden="true" style="font-size: 5px;padding: 4px 10px;"></i>
              <li class="active">联系我们</li>
            </ol>     
          </div>
        </div> 
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5 mb-5">
        <div class="st-heading text-left">
          <h3 class="box-title">在线留言</h3>
        </div>
        <form class="needs-validation" novalidate>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <input type="text" class="form-control" id="contactname" placeholder="您的名字" required>
              <div class="invalid-feedback">
                请填写您的姓名
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <input type="text" class="form-control" id="contactmobile" placeholder="联系方式" required>
              <div class="invalid-feedback">
                请留下您的联系方式以便客服回访
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <textarea type="text" class="form-control" id="contactinfo" placeholder="您的留言" rows="4" required></textarea>
              <div class="invalid-feedback">
                请填写您的留言
              </div>
            </div>
          </div>
          <input type="submit" value="提交" class="">
        </form>
      </div>
      <div class="col-sm-7 mb-5">
        <div class="st-heading text-left">
          <h3 class="box-title">联系方式</h3>
        </div>
        <div class="wpb_text_column wpb_content_element">
          <p>徐州防雷设施检测有限公司是经江苏省气象局审核批准的雷电防护装置检测单位,<span>重庆分公司</span>为其分支机构主要从事防雷装置、防静电装置、电磁辐射、电磁脉冲的检测，技术咨询及相关服务。</p>              
        </div>
        <div class="wpb_raw_code wpb_content_element wpb_raw_html">
          <ul class="st-contact-info">
            <li><div class="contact-label">地址</div>
              华美路21号4幢31-2号.<br>
              九龙坡区, 重庆市,中国<br>
            </li>
            <li>
              <div class="contact-label">电话</div>
              (023) 8636-0883
            </li>
            <li>
              <div class="contact-label">传真</div>
              (023) 8636-0888
            </li>
            <li>
              <div class="contact-label">Email</div>
              <a href="mailto:services@ufanglei.com">services@ufanglei.com</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>    
</section>

